.vercel
node_modules/
test-full-with-upload.js

# Environment variables
.env
.env.local

# Logs
extraction.log

# Old jsons
kamiImage.json
kamiMetadata.json
kamiRankings.json
kamiStats.json
kamiTraits.json

# Website self-serve api
api/data/